@use "../../../styles.scss" as style;
@import "../../vars";
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.navbar {
  @include style.flex-center;
  box-shadow: $box-shadow;

  &-container {
    @include style.flex-center;
    margin: 1rem;
  }

  &-title {
    font-size: $font-size-title;
    font-family: "Itim", cursive;
  }
}

// TODO: Media query for mobile / Observer checking size
.mat-mdc-tab-nav-bar {
  @include style.flex-center;
  flex: 0.5 !important;
}
