// All the variables used inside app are defined here

// Colors
$border-color: #e0e0e0;
$background-color-light: #e0e9ff9d;

// Typography
$font-size-title: 2rem;
$font-size-subtitle: 1.5rem;

// Other
$box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
$border-radius-container: 8px;
$border-radius: 6px;

// CONSTS
$header-height: 144px;

// Screens sizes
$screen-size-mobile: 768px;
$screen-size-tablet: 1024px;
$screen-size-desktop: 1280px;
