@use "../../../styles.scss" as style;
@import "../../vars";

.list {
  &-container {
    margin: 4rem 10rem;
    border: $border-color solid 1px;
    border-radius: $border-radius-container;

    display: flex;
    flex-direction: column;

    overflow: auto;
  }

  &-header {
    @include style.flex-center;
    margin: 2rem;
    font-size: $font-size-subtitle;
  }
}

.loading-spinner {
  margin: auto;
}

@media screen and (max-width: $screen-size-tablet) {
  .list-container {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: $screen-size-mobile) {
  .list-container {
    margin: 0;
    border: none;
  }
}
