<div class="list-container">
  <div class="list-header">
    <h2>{{ title }}</h2>
  </div>

  <ng-content></ng-content>

  <ng-container *ngIf="!!dataSource; else loading">
    <app-custom-table
      [data]="dataSource"
      [sortColumns]="sortColumns"
      [paginationOptions]="paginationOptions"
      [defaultPageSize]="defaultPageSize"
    ></app-custom-table>
  </ng-container>
  <ng-template #loading>
    <div class="loading-spinner"><mat-spinner diameter="48"></mat-spinner></div>
  </ng-template>
</div>
