<app-generic-list-page
  [title]="'Liste des Food trucks'"
  [dataSource]="foodTrucks$ | async"
  [paginationOptions]="[5, 15, 25, 50, 100]"
  [defaultPageSize]="15"
>
  <button
    *ngIf="!isFormVisible"
    mat-fab
    color="primary"
    class="list-add-button"
    matTooltip="Ajouter un food truck"
    (click)="handleAddButtonClick()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div
    [@folder]="getFormState()"
    (@folder.done)="mutateFormVisibility($event.toState === 'visible')"
  >
    <app-foodtruck-form
      (hideForm)="mutateFormVisibility(false)"
    ></app-foodtruck-form>
  </div>
</app-generic-list-page>
